<div class="navbar">
  <div>{{ currentFolder }}</div>
  <button mat-button (click)="navigatePrevDir()">Previous folder</button>
  <button mat-button *ngIf="!isUserDir()" (click)="createDir()">Create Directory</button>
  <button mat-button *ngIf="isUserDir()" (click)="createBaseDir()">Create Base Directory</button>
  <button mat-button *ngIf="!isUserDir()" (click)="showUploadFilesMenu()">Upload</button>
  <button mat-button (click)="renameMenu()">Rename this</button>
  <button mat-button (click)="deleteThisConsent()">Delete this</button>
  <button mat-button *ngIf="isBaseDir()">Give access to this</button>
</div>

<app-create-base-dir *ngIf="createBaseDirMenu()"></app-create-base-dir>
<app-create-dir *ngIf="createDirMenu()"></app-create-dir>

<div *ngIf="showRenameMenu">

</div>

  <div *ngFor="let item of items" class="container" appHighlight>
    <button mat-button class="half-width" (click) = "navToDir(item.fileName)">
      <mat-icon *ngIf="item.isDir">folder</mat-icon>
      <mat-icon *ngIf="!item.isDir">insert_drive_file</mat-icon>
      <p>{{ item.fileName }}</p>
    </button>
    <div class="text">{{ item.dateModified | dateFormatting }}</div>
    <button mat-icon-button (click)="download()">
      <mat-icon>cloud_download</mat-icon>
    </button>
  </div>


<div class="deleteConsentMenu" *ngIf="showDeleteConsentMenu">
  <p>Are you sure you want to permanently delete this item?</p>
  <div class="deleteConsentMenuButtonContainer">
  <button mat-button (click)="deleteThis()">Yes</button>
  <button mat-button (click)="hideDeleteThisCOnsent()">No(cancel)</button>
  </div>
</div>


<div *ngIf="uploadFilesMenu">
  <input type="file" multiple (change)="onFileSelected($event)">
  <button mat-button (click)="uploadFiles()">Upload</button>
  <button mat-button (click)="hideUploadFilesMenu()">Cancel</button>
</div>
