<!--
<div>
  <p>Login</p>
  <form [formGroup]="loginForm">
    <input formControlName="userName" placeholder="Username" type="text">
    <input formControlName="password" placeholder="Password" type="password">
  </form>
  <div>
    <button (click)="login()"> Submit</button>
  </div>
</div>
-->


<form class="login-form" [formGroup]="loginForm">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput formControlName="userName" type="text" placeholder="username">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" placeholder="password">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="login()">Login</button>
</form>
